.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form input[type="text"],
.form select {
  padding: 1rem;
  background-color: transparent;
  border: 0.2rem solid var(--white);
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 400;
  outline-color: var(--white);
}

.form option {
  color: black;
}

.submit {
  padding: 1rem;
  background-color: var(--primary);
  border: none;
  border-radius: 1rem;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 800;
  margin-top: 1rem;
}
.submit:hover {
  background-color: #d97706;
}

.field ::placeholder {
  color: var(--white);
}
